
</div>
<div class="footer-padding"></div>
<div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
     </div>
  <div class="footer">
    <p>Made with ❤️ by Full Stack Devlopers</p>
  </div>
</div>
</body>
</html>
